<nav class="text-center p-4 bg-dark  fs-4`">
    <a class="text-white me-5 text-decoration-none" href=" /">Home</a>
    <a class="text-white me-5  text-decoration-none" href="/library">library</a>
    <a class="text-white me-5  text-decoration-none" href="/about">About</a>

</nav>