<%- include("partials/header")%>
    <%- include("partials/nav")%>


        <div class="p-5 bg-dark mt-5 text-center container">

            <h1 class=" text-white">Welcome to Book Store </h1>
            <p class="text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe iure facere tempore,
                voluptatem doloremque inventore fugiat nihil cupiditate porro dignissimos vel<br> modi laborum magnam
                debitis
                aliquid architecto alias sunt hic sequi vero id officiis corrupti. Culpa expedita animi ea. Voluptates
                at,<br>
                magnam repellendus quos nesciunt ipsa autem enim earum blanditiis.</p>
            <br>
            <button class="text-white bg-dark text-center">Explore More</button>

            <%- include("partials/footer")%>